.box{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.5vh;
    font-weight: bold;
    color: #222;
}
.input-box{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 4px;
    align-items: center;
}

input{
    width: 35vw;
    height: 7vh;
    border:solid 1px gray;
    padding: 4px;
    border-radius: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}