.tabela{
    display: flex;
    width: 100%;
    flex-direction: column;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
.tabelaHeader{
    width: 100%;
}

.tabelaHeader tr {
    display: flex;
    justify-content: center;
}
.tabelaHeader tr th{
    flex: 1;
    border: solid 1px;
}
.tabelaBody{
    width: 100%;

}
.tabelaBody tr{
    display: flex;
}
.tabelaBody tr td{
    flex: 1;
    border: solid 1px;
    height: 50px;
    
}